<script type="text/javascript">
snow.ui.registerComponent("createSmrData", 
	{
	    parent: "#mainContent",
		unique: true,
		emptyParent: true
	}, 
	{
	build: function(){
		var $e = $("#tmpl-mainScreenSmr").render({});
		return $e;
	}, 
	postDisplay: function(){
		var component = this;
		var $element = this.$element;
		
		$element.sTouch(".generateButton",function(e){
			var $frtText = $("#frtText");
			var $scdText = $("#scdText");
			
			var frtTextVal = $frtText.val();
			var scdTextVal = "";
			var dataType = $("#selectType option:selected").val();
			var breakDown = $("#selectBreakDown option:selected").val();
			console.log(dataType);
			
			scdTextVal = smr.generateSmrData(frtTextVal,dataType,breakDown);

			$scdText.val("").val(scdTextVal);
		});
		
		$element.sTouch(".clearButton",function(e){
			$("#frtText").val("");
			$("#scdText").val("");
		});
		
		$element.sTouch(".clearRightButton",function(e){
			$("#scdText").val("");
		});
		
	}
});

</script>

<script id="tmpl-mainScreenSmr" type="text/html">
<div class="mainScreen">
	
	<div class="settings">
		<lable>Data For:</lable>
		<select id="selectType">
			<option value="batch">Batch</option>
			<option value="transactional">Transactional</option>
		</select>
		<br>
		<lable>BreakDown:</lable>
		<select id="selectBreakDown">
			<option value="day">day</option>
			<option value="week">week</option>
			<option value="month">month</option>
			<option value="mailing">mailing</option>
			<option value="quarter">quarter</option>
			<option value="target">target</option>
		</select>
	</div>

	<div class="firstArea">
		Input Data TextArea:</br>
		<textarea id="frtText" cols="50" rows="27"></textarea></br>
	</div>
	
	<div class="generate">
		<div class="genDiv">
			<button class="generateButton">Generate >></button>
		</div>
		<div class="genDiv">
			<button class="clearRightButton"> Clear Right Data </button>
		</div>
		<div class="genDiv">
			<button class="clearButton"> Clear All Data </button>
		</div>
	</div>
	
	<div class="sencondArea">
		Output TextArea:</br>
		<textarea id="scdText" cols="50" rows="27"></textarea>
	</div>
</div>	
</script>
