<script type="text/javascript">
snow.ui.registerComponent("createSmrData", 
	{
	    parent: "#mainContent",
		unique: true,
		emptyParent: true
	}, 
	{
	build: function(){
		var $e = $("#tmpl-mainScreenSmr").render({});
		return $e;
	}, 
	postDisplay: function(){
		var component = this;
		var $element = this.$element;
		
		$("#selectDataFor").change(function(){
			var $this = $(this);
			var val = $this.val();
			if(val == "filterLightbox"){
				$("#selectDataTypeFilter").show();
				$("#selectDataType").hide();
			}else if(val == "batch" || val == "transactional"){
				$("#selectDataTypeFilter").hide();
				$("#selectDataType").show();
			}
		});
		
		$element.sTouch(".generateButton",function(e){
			var $frtText = $("#frtText");
			var $scdText = $("#scdText");
			
			var frtTextVal = $frtText.val();
			var scdTextVal = "";
			var dataFor = $("#selectDataFor option:selected").val();
			
			var dataTpye = "day";
			if(dataFor == "filterLightbox"){
				dataTpye = $("#selectDataTypeFilter option:selected").val();
			}else if(dataFor == "batch" || dataFor == "transactional" || dataFor == "lifecycle"){
				dataTpye = $("#selectDataType option:selected").val();
			}
			
			
			if(dataTpye == "comparison"){
				scdTextVal = smr.generateSmrComparisonData(frtTextVal,dataFor,dataTpye);
			}else{
				scdTextVal = smr.generateSmrData(frtTextVal,dataFor,dataTpye);
			}
			

			$scdText.val("").val(scdTextVal);
		});
		
		$element.sTouch(".clearButton",function(e){
			$("#frtText").val("");
			$("#scdText").val("");
		});
		
		$element.sTouch(".clearRightButton",function(e){
			$("#scdText").val("");
		});
		
	}
});

</script>

<script id="tmpl-mainScreenSmr" type="text/html">
<div class="mainScreen">
	
	<div class="settings">
		<lable>Data For:</lable>
		<select id="selectDataFor">
			<option value="batch">Batch</option>
			<option value="transactional">Transactional</option>
			<option value="filterLightbox">Filter Lightbox</option>
			<option value="lifecycle">Lifecycle</option>
		</select>
		<br>
		<lable>Data Type:</lable>
		<select id="selectDataType">
			<option value="day">Day</option>
			<option value="week">Week</option>
			<option value="month">Month</option>
			<option value="quarter">Quarter</option>
			<option value="year">Year</option>
			<option value="mailing">Mailing</option>
			<option value="target">Target</option>
			<option value="campaign">Campaign</option>
			<option value="program">Program</option>
			<option value="sharing">Sharing</option>
			<option value="sharingftaf">Sharing Ftaf</option>
			<option value="failuredetail">Failure Detail</option>
			<option value="failureinstance">Failure Instance</option>
			<option value="links">Links</option>
			<option value="linksConversion">Links-Conversion</option>
			<option value="comparison">Comparison</option>
		</select>
		<select id="selectDataTypeFilter" style="display:none;">
			<option value="filterMailings">Mailings</option>
			<option value="filterPrograms">Programs</option>
			<option value="filterCampaigns">Campaigns</option>
		</select>
	</div>

	<div class="firstArea">
		Input Data TextArea:</br>
		<textarea id="frtText" cols="50" rows="27"></textarea></br>
	</div>
	
	<div class="generate">
		<div class="genDiv">
			<button class="generateButton">Generate >></button>
		</div>
		<div class="genDiv">
			<button class="clearRightButton"> Clear Right Data </button>
		</div>
		<div class="genDiv">
			<button class="clearButton"> Clear All Data </button>
		</div>
	</div>
	
	<div class="sencondArea">
		Output TextArea:</br>
		<textarea id="scdText" cols="50" rows="27"></textarea>
	</div>
</div>	
</script>
